<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Quoting Dojo</h1>
    <hr>

    JSON.stringify(messages) => <%- JSON.stringify(messages) %> 
    <% if(messages.registration) { %>
         <% for (var x of messages.registration) { %>
          <h3><%= x %></h3>
         <% } %>
     <% } %>

    <form action="/quotes" method="POST">
        Your Name: <input type="text" name="name"><br>
        Your Quote: <textarea name="quote"></textarea><br><br>
        <input type="submit" value="add my quote!">
    </form><br>
        <a href="/quotes"><button>Skip to Quotes!</button></a>
</body>
</html>